# Ignore environment files and IDE settings
.env
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/

# Data directories
data/*
!data/processed/
!**/.gitkeep

trash/

# # Data directories
# data/**/*
# !data/processed/*
# !data/**/
# !data/**/.gitkeep